# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
media/
staticfiles/
.env

# Virtualenv
env/
venv/
ENV/
*.env

# IDEs
.vscode/
.idea/
*.swp

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Migrations (optional – if you want to exclude)
**/migrations/*.pyc
**/migrations/__pycache__/
# created by virtualenv automatically
